html,
*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

* {
  outline: 0; }

main {
  display: block; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none; }

button,
input {
  overflow: visible; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button {
  border: 0;
  outline: 0; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

[hidden] {
  display: none; }

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

label {
  margin-bottom: 0; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

:root {
  --html-fs: 1px;
  --ff: "Noto Sans", sans-serif;
  --sf: "Montserrat", sans-serif;
  --tf: "Roboto", sans-serif;
  --transition: 0.2s all ease-in-out;
  --txt-900-55-ff: normal 900 55px / 127% var(--ff);
  --txt-900-48-ff: normal 900 48px / 146% var(--ff);
  --txt-900-45-ff: normal 900 45px / 127% var(--ff);
  --txt-900-37-ff: normal 900 37px / 127% var(--ff);
  --txt-900-30-ff: normal 900 30px / 127% var(--ff);
  --txt-900-14-ff: normal 900 14px / normal var(--ff);
  --txt-600-24-ff: normal 600 24px / 292% var(--ff);
  --txt-500-16-ff: normal 500 16px / normal var(--ff);
  --txt-400-16-ff: normal 400 16px / normal var(--ff);
  --txt-700-21-sf: normal 700 21px / normal var(--sf);
  --txt-400-14-sf: normal 400 14px / normal var(--sf);
  --txt-400-12-sf: normal 400 12px / normal var(--sf);
  --c-primary: #8842f0;
  --c-text-white: #fff;
  --c-text-black: #000;
  --c-color-txt: #e0e0e0;
  --c-text-span: #b82121;
  --c-color-border: rgba(255, 255, 255, 0.6);
  --c-background-btn: rgba(0, 0, 0, 0.65);
  --c-background-span: #393939; }

html {
  font-size: var(--html-fs); }

body {
  font-size: 16px;
  --font-family: var(--ff);
  --second-family: var(--sf);
  --third-family: var(--tf);
  scroll-behavior: smooth; }

.wrapper {
  max-width: 1440px;
  margin-inline: auto; }

.container {
  max-width: 1128px;
  margin-inline: auto; }

.icon {
  fill: #000;
  transition: var(--transition); }

.icon:hover {
  fill: var(--c-primary); }

img {
  cursor: pointer; }

.svg {
  transition: var(--transition); }
  .svg:hover {
    scale: 1.1; }

*::-webkit-scrollbar {
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0); }

* ::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background-color: #d1d1d1; }

.welcome {
  background: url(../../img/wrapper.png);
  background-size: auto;
  padding: 10px 98px 176px 97px; }
  @media (max-width: 1200px) {
    .welcome {
      padding: 10px 48px 176px 47px; } }
  @media (max-width: 576px) {
    .welcome {
      padding: 10px 10px 176px 10px; } }
  .welcome .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px; }
    .welcome .header__backdrop {
      display: none; }
      @media (max-width: 992px) {
        .welcome .header__backdrop {
          transform: translateX(120%);
          display: block;
          transition: var(--transition);
          position: fixed;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          top: 0;
          left: 0; } }
    .welcome .header__ul {
      display: flex;
      align-items: center;
      gap: 50px;
      z-index: 1; }
      @media (max-width: 1200px) {
        .welcome .header__ul {
          gap: 30px; } }
      @media (max-width: 992px) {
        .welcome .header__ul {
          position: fixed;
          width: 70%;
          height: 100%;
          flex-direction: column;
          left: 0;
          top: 0;
          background: var(--c-primary);
          align-items: center;
          justify-content: center;
          transform: translateX(-120%);
          transition: var(--transition); } }
      .welcome .header__ul._active {
        transform: translateX(0); }
      .welcome .header__ul._active ~ .header__backdrop {
        transform: translateX(0); }
      .welcome .header__ul .icon-close {
        position: absolute;
        top: 40px;
        right: 40px; }
    .welcome .header__a {
      font: var(--txt-500-16-ff);
      color: var(--c-text-white);
      transition: var(--transition); }
      .welcome .header__a.is-active, .welcome .header__a:hover {
        color: var(--c-text-span); }
      .welcome .header__a:active {
        color: var(--c-primary); }
    .welcome .header__contacts {
      display: flex;
      align-items: center;
      column-gap: 5px; }
      .welcome .header__contacts-phone {
        font: var(--txt-700-21-sf);
        color: var(--c-text-white); }
        @media (max-width: 992px) {
          .welcome .header__contacts-phone {
            display: none; } }
      .welcome .header__contacts-icons {
        padding-left: 38px;
        display: flex;
        gap: 15px; }
        @media (max-width: 992px) {
          .welcome .header__contacts-icons {
            padding-right: 20px;
            padding-left: 15px; } }
        @media (max-width: 576px) {
          .welcome .header__contacts-icons {
            padding-right: 58px; } }
        @media (max-width: 480px) {
          .welcome .header__contacts-icons {
            padding-right: 48px;
            gap: 10px;
            padding-left: 10px; } }
  .welcome-title {
    max-width: 607px;
    font: var(--txt-900-55-ff);
    color: var(--c-text-white);
    margin-bottom: 95px; }
    .welcome-title span {
      color: var(--c-text-span); }
    @media (max-width: 768px) {
      .welcome-title {
        font: var(--txt-900-45-ff); } }
    @media (max-width: 576px) {
      .welcome-title {
        font: var(--txt-900-37-ff); } }
    @media (max-width: 480px) {
      .welcome-title {
        font: var(--txt-900-30-ff); } }
  .welcome-info {
    max-width: 501px;
    font: var(--txt-400-16-ff);
    color: var(--c-text-white);
    margin-bottom: 35px; }
  .welcome-btn {
    display: inline-block;
    font: var(--txt-900-14-ff);
    color: var(--c-text-white);
    padding: 21px 49px;
    border-radius: 5px;
    background: var(--c-text-span);
    transition: var(--transition); }
    .welcome-btn:hover {
      color: var(--c-text-span);
      background: var(--c-text-white); }

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none; }
  @media (max-width: 992px) {
    .icon-menu,
    .icon-close {
      display: inline-block;
      position: absolute;
      top: 30px;
      right: 10px;
      color: var(--c-text-white);
      width: 30px;
      height: 30px; } }

.menu {
  background: url(../../img/white-black.png);
  padding-top: 50px; }
  .menu-title {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 48px;
    line-height: 146%;
    color: #fff;
    margin-bottom: 25px; }
  .menu-txt {
    max-width: 632px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-inline: auto;
    color: #fff;
    margin-bottom: 62.5px; }
  .menu-blocks {
    display: flex; }
    .menu-blocks__block {
      position: relative;
      max-width: 288px;
      max-height: 508px; }
      .menu-blocks__block-img {
        max-width: 288px;
        max-height: 508px; }
      .menu-blocks__block-name {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 24px;
        line-height: 292%;
        color: #fff;
        position: absolute;
        display: inline-block;
        bottom: 10px;
        left: 30%; }
      .menu-blocks__block-btn {
        position: absolute;
        bottom: 224px;
        left: 30%;
        font-family: var(--font-family);
        font-weight: 900;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff; }

.footer {
  padding: 37px 60px 33px 80px;
  background: var(--c-text-black); }
  @media (max-width: 576px) {
    .footer {
      padding: 37px 10px 33px 10px; } }
  .footer-sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px; }
    @media (max-width: 992px) {
      .footer-sections {
        flex-direction: column;
        row-gap: 20px; } }
    .footer-sections__icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px; }
      @media (max-width: 480px) {
        .footer-sections__icons {
          flex-direction: column; } }
      .footer-sections__icons-phone {
        font: var(--txt-700-21-sf);
        color: var(--c-text-white);
        white-space: nowrap; }
      .footer-sections__icons-icon {
        display: flex;
        gap: 10px; }
    .footer-sections__address, .footer-sections__email {
      max-width: 240px;
      font: var(--txt-400-14-sf);
      color: var(--c-text-white); }
      @media (max-width: 992px) {
        .footer-sections__address, .footer-sections__email {
          text-align: center; } }
  .footer-bloks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    @media (max-width: 992px) {
      .footer-bloks {
        flex-direction: column;
        row-gap: 20px; } }
    .footer-bloks__txt {
      display: flex;
      align-items: center;
      gap: 10px; }
      @media (max-width: 992px) {
        .footer-bloks__txt {
          flex-direction: column;
          row-gap: 20px; } }
      .footer-bloks__txt-desc, .footer-bloks__txt-info {
        font: var(--txt-400-12-sf);
        color: var(--c-color-txt); }
    .footer-bloks__text {
      font: var(--txt-400-12-sf);
      color: var(--c-color-txt);
      padding-right: 20px; }
      @media (max-width: 576px) {
        .footer-bloks__text {
          text-align: center;
          padding-right: 0; } }
  .footer-span {
    width: 1px;
    max-height: 70px;
    height: 100vh;
    background: var(--c-background-span);
    margin: 0 10px; }
    @media (max-width: 992px) {
      .footer-span {
        display: none; } }
  .footer .icons {
    transition: var(--transition); }
    .footer .icons:hover {
      scale: 1.1; }

/*# sourceMappingURL=style.css.map */
